<div id="<%= dom_id account %>">
  <p>
    <strong>Name:</strong>
    <%= account.name %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= account.password %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= account.email %>
  </p>

  <p>
    <strong>Programador:</strong>
    <%= account.programador %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= account.birthday %>
  </p>

  <p>
    <strong>Work time:</strong>
    <%= account.work_time %>
  </p>

</div>
